/* .nav-ico {
    position: relative;
    top: 10px;
    padding: 0px 5px;
    display: inline-block;
    margin: 0px 20px;
    cursor: pointer;
}

.dropbtn {
    display: inline-block;
    border: 0;
    top: -1.8px;
    background-size: 29px 30px;
    position: relative;
    cursor: pointer;
    padding: 20px;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    top: 10%;
    background-color: #ffffff;
    min-width: 250px;
    min-height: fit-content;
    overflow: auto;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1;
    text-align: left;
}

.dropdown-content a {
    color: #272343;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 10px 12px 10px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a:hover {filter: drop-shadow(0px 4px 1px #ccc);}

.show {display: block;}

.drop-ico {
    color: #272343;
    position: relative;
    top: 10px;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.nav-item:hover .dropdown-content {display: block;} */
/* 
#user_name {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    width: fit-content;  
    margin: 0px;
    left: 60px;
    top: -4px;
}

.main_container {
    position: absolute;
    height: 70vh;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links_container {
    position: relative;
    float: left;
    width: 28%;
    height: 100%;
}

.links_color {
    color: #272343;
    background-color: #E3F6F5;
    width: fit-content;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vw;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

#dash_board.links_color {
    height: 100%;
    width: 70%;
    position: relative;
    float: right;
    text-align: left;
    padding-top: 14px;
    text-indent: 30px;
    font-size: 14px;
    cursor: default;
}

#medium_link.links_color {
    position: relative;
    width: 100%;
    line-height: 51px;
}

#small_link1.links_color {
    position: relative;
    float: left;
    width: 32%;
    line-height: 51px;
}

#small_link2.links_color {
    position: relative;
    float: right;
    width: 65%;
    line-height: 51px;
}

#large_link1.links_color {
    position: absolute;
    width: 100%;
    top: 28%;
    height: 28.4%;
    text-align: left;
    text-indent: 30px;
    padding-top: 14px;
}

#large_link2.links_color {
    position: absolute;
    width: 100%;
    top: 64%;
    height: 33.4%;
    text-align: left;
    text-indent: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.graph_boxes {
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    text-align: center;
    cursor: pointer;
}

#box1.graph_boxes {
    height: 30%;
    width: 94%;
    margin: 3vh 1.7vw;
    text-align: left;
    padding-top: 10px;
}

#box2.graph_boxes {
    position: relative;
    padding: 4vh 8%;
    min-width: 20%;
    float: left;
}

#box3.graph_boxes {
    position: relative;
    padding: 4vh 14%;
    min-width: 30%;
    max-width: 30%;
    float: right;
}

#box4.graph_boxes {
    padding-top: 10px;
    top: 72%;
    transform: translateY(72%);
    height: 26%;
    width: 94%;
    margin: 1.7vh 1.7vw;
    text-align: left;
}

a {
    text-decoration: none;
} */
