html, body {
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient(to right bottom, #b5ffed, #c1fef0, #cdfdf3, #d8fbf5, #e4faf6);
}
a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.35rem;
    font-weight: 600;
    cursor: pointer;
    color: #272343;
    transition: 0.2s;
}

a:hover {
    color: #272343b4;
}

button {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    /* padding: 3rem 2rem; */
    border-radius: 0 0 7px 7px;
    /* background-color: #BAE8E8; */
    background: linear-gradient(to right bottom, #CAFCEF,#A8F1E2);
    /* background:linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3)); */
}
.navbar-brand p {
    font-weight: 600;
}
.nav-item p {
    font-weight: 600;
}
.poppins {
    font-family: 'Poppins', sans-serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}
.dosis {
    font-family: 'Dosis', sans-serif;
}
.ssp {
    font-family: 'Source Sans Pro', sans-serif;
}
/* SCROLL BAR CSS */

/* width */
/* ::-webkit-scrollbar {
width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
background: rgba(226, 226, 226, 0.6); 
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
background: rgb(200, 200, 200); 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
background: #ccc; 
} */