<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/error404.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <title>ERROR | 404</title>
</head>

<body>
    <style>
        .container-xl {
            top: 50%;
            left: 50%;
            position: absolute;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <div style="height: 100vh;">
        <div class="container-xl">
            <div class="row px-3 py-5 justify-content-center">
                <div class="col-12"
                    style="padding: 8% 4%;width: fit-content;background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));border-radius: 0.7rem;">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        <img src="{% static 'app/404.svg' %}" class="errorsvg" alt="404_SVG" width="70%" height="70%"
                            style="margin-bottom: 3rem;">
                        <div class="text" style="margin-bottom: 1rem;">
                            <h1 style="font-weight: 600;text-align: center;font-size: 5.5vmin;color: #545454;">Seems so
                                empty here...</h1>
                            <h5
                                style="font-weight: 400;text-align: center;font-size: 2.5vmin;margin-top:1rem;color: #6A6A6A;">
                                Requested content not found</h5>
                        </div>
                        <div class="back_btn bg-primary bg-gradient" style="border-radius: 0.7rem;">
                            <input type="submit" onclick="history.back()" value="Go Back"
                                style="color: #fff;font-family: 'Poppins', sans-serif;font-weight: 600;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>