{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app/placements.css' %}">{% endblock %}
{% block title %}Placements{% endblock %}
{% block nav %}
<a class="navbar-brand" href="{% url 'home' %}" style="opacity: 0.8;">
    <p class="h6 poppins" style="font-size: 24px;"><i class="fa fa-graduation-cap" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="Home"></i></p>
</a>
<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #fff;">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pe-1">
            <a class="nav-link active" aria-current="page" href="{% url 'placements_view' %}">
                <p class="h6 poppins mb-lg-2 mb-0">Placements</p>
            </a>
        </li>
        <li class="nav-item pe-1">
            <a class="nav-link" href="{% url 'admissions_view' %}">
                <p class="h6 poppins mb-lg-2 mb-0">Admissions</p>
            </a>
        </li>
        <li class="nav-item pe-1">
            <a class="nav-link" href="{% url 'campus_view' %}">
                <p class="h6 poppins mb-lg-2 mb-0">Campus</p>
            </a>
        </li>
        <li class="nav-item pe-1">
            <a class="nav-link" href="{% url 'about_view' %}" aria-current="page">
                <p class="h6 poppins mb-lg-2 mb-0">About</p>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li>
            <a href="{% url 'login_view' %}">
                <button class="btn btn-primary bg-gradient" type="button" style="border-radius: 0.5rem;">
                    <p class="h6 poppins m-0" style="font-weight: 600;">Sign In</p>
                </button>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="jumbotron d-flex align-items-start">
    <div class="container-fluid pt-lg-0 pt-3 top-fluid-container glass pb-5 mb-5">
        <div class="container-xl my-border-m" style="height: 1352px;height: fit-content;">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <h2 class="mt-5 poppins fw-bold lh-base gradient-orange">In our college we have,<br> 90% placements
                        for almost a decade now</h2>
                    <p class="text-black-50 mt-4 poppins small">Providing graduates with in-campus placements,
                        internships and overseas higher education support.</p>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-xxl-8 col-md-11 col-11 text-center my-white-bg-low my-border-sm px-xxl-5 py-xxl-4 p-3">
                    <h5 class="inter text-muted">Top recruiters include</h5>
                    <div class="row gy-3 mt-3 mb-3">
                        <div class="col-12">
                            <div class="row gy-md-0 gy-4">
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <div class="my-border-sm my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Microsoft_resized.png' %}" class="img-fluid"></div>
                                </div>
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <div class="my-border-sm  my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Cognizant_resized.png' %}" class="img-fluid"></div>
                                </div>
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <p class="my-border-sm  my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Infosys.png' %}" class="img-fluid"></p>
                                </div>
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <p class="my-border-sm  my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Accenture.png' %}" class="img-fluid"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row gy-md-0 gy-4">
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <p class="my-border-sm my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Lg.png' %}" class="img-fluid"></p>
                                </div>
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <p class="my-border-sm my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Dell.png' %}" class="img-fluid"></p>
                                </div>
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <p class="my-border-sm my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Hp.png' %}" class="img-fluid"></p>
                                </div>
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center">
                                    <p class="my-border-sm my-white-bg-low m-0 p-2 my-logos"><img
                                            src="{% static 'app/Tcs.png' %}" class="img-fluid"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center justify-content-center" style="margin-top: 7%;">
                <div class="col-md-9 text-center mb-md-5 mb-3">
                    <h2 class="mt-5 poppins fw-bold lh-base gradient-purple">Want to start your journey with us?</h2>
                    <p class="text-black-50 mt-4 mb-4 poppins small">With proper guidence and resources of our talented
                        and knowledge driven faculty, you can land your ideal job with us.</p>
                    <a class="h6 inter d-flex justify-content-center" href="{% url 'admissions_view' %}">
                        <div class="px-3 py-2 my-border-sm glass mb-4" style="width: fit-content;">Find out more about
                            admissions -></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-container-fluid pb-0 mb-0 justify-content-center">
    <footer class="container-xl">
        <div class="row my-4 justify-content-center py-5">
            <div class="col-11">
                <div class="row">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="footer-h3 text-muted mb-md-0 mb-5 bold-text">College Name</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="footer-h6 mb-3 mb-lg-4 bold-text text-muted"><b>QUICK LINKS</b></h6>
                        <ul class="list-unstyled footer-ul">
                            <a class="footer-a footer-menu-links" href="{% url 'home' %}">
                                <li>Home</li>
                            </a>
                            <a class="footer-a footer-menu-links" href="{% url 'careers_view' %}">
                                <li>Careers</li>
                            </a>
                            <a class="footer-a footer-menu-links" href="{% url 'developers_view' %}">
                                <li>Developers</li>
                            </a>
                            <a class="footer-a footer-menu-links" href="{% url 'about_view' %}">
                                <li>About</li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="footer-h6 mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="footer-p mb-1">605, RATAN ICON BUILDING</p>
                        <p class="footer-p">SEAWOODS SECTOR</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="footer-p social text-muted mb-0 pb-0 bold-text">
                            <span class="mx-2" onclick="window.location='#facebook_link'" style="cursor: pointer;"><i
                                    class="fa fa-facebook" aria-hidden="true" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Visit our Facebook page"></i></span>
                            <span class="mx-2" onclick="window.location='#linkedIn_link'" style="cursor: pointer;"><i
                                    class="fa fa-linkedin-square" aria-hidden="true" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Visit our LinkedIn"></i></span>
                            <span class="mx-2" onclick="window.location='#twitter_link'" style="cursor: pointer;"><i
                                    class="fa fa-twitter" aria-hidden="true" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Visit our Twitter"></i></span>
                            <span class="mx-2" onclick="window.location='#instagram_link'" style="cursor: pointer;"><i
                                    class="fa fa-instagram" aria-hidden="true" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Visit our Instagram"></i></span>
                        </p>
                        <small class="rights">
                            <span>&#174;</span>
                            All Rights Reserved.
                            <br>
                            Made with <i class="fa fa-coffee" aria-hidden="true"></i> by Sarvesh Rane.
                        </small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="footer-h6 mt-55 mt-2 text-muted bold-text"><b>COLLEGE EMAIL</b></h6><small><span><i
                                    class="fa fa-envelope" aria-hidden="true"></i>email@gmail.com</span></small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end ">
                        <h6 class="footer-h6 text-muted bold-text"><b>CONTACT NUMBER</b></h6><small><span><i
                                    class="fa fa-phone" aria-hidden="true"></i></span>1234567890</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}